<div class="container form mb-4">
  <h2 class="my-3">Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <div class="row">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      </div>

      <div class="row">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" } %>
      </div>

      <div class="row">
        <div class="col">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%>
        </div>
        <div class="col">
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name" }%>
        </div>
      </div>

      <div class="row">
        <div class="col">
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="col">
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
      </div>

      <div class="row">
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :photo, as: :file %>
      </div>
    </div>

    <div class="form-actions mb-5">
      <%= f.button :submit, "Update", class: 'btn-pink my-3' %>
    </div>
  <% end %>

  <hr>

  <h2 class="my-4">Cancel my account</h2>

  <div>
    <p>Unhappy?</p>
    <%= link_to "Cancel my account", registration_path(resource_name), class: "btn-rosa my-3", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
  </div>
  <div class="my-4">
    <%= link_to "Back", :back %>
  </div>
  <br>
  <br>
</div>
