<h1 class="text-center mt-5 mb-4">Products</h1>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end m-4">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<div class="card-trip m-4">
  <div class="row row-cols-3 row-cols-lg-5 g-2 g-lg-3">
    <% @products.each do |product| %>
      <div class="col">
        <a href="<%= product_path(product[:id]) %>">
          <div class="card">
            <div class="carousel slide" id="carousel<%= product.id %>">
              <div class="carousel-inner">
                <% product.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                    <img src="<%= photo.url %>" class="card-img">
                    <i class="fa-regular fa-heart position-absolute top-0 end-0 mt-2 me-2"></i>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carousel<%= product.id %>" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel<%= product.id %>" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
            <div class="card-body">
              <h2 class="card-title"><%= product.name %></h2>
              <p class="card-text"><%= truncate(product.description, length: 30, omission: "...", escape: false) %></p>
              <h2 class="card-trip-pricing"><%= product.price %>€</h2>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const carouselControlButtons = document.querySelectorAll(".carousel-control-prev, .carousel-control-next");

    carouselControlButtons.forEach(button => {
      button.addEventListener("click", function(event) {
        event.stopPropagation();
      });
    });
  });
</script>

