<h1 class="text-center mt-5 mb-2">Market Place</h1>
<h6 class="text-center mb-5">Find out the right goodies for you!</h6>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end m-4" id="pagination">
    <li class="page-item <%= @current_page == 1 ? 'disabled' : '' %>">
      <a class="page-link" href="<%= products_path(page: @current_page - 1) %>">Previous</a>
    </li>
    <% (1..@total_pages).each do |page| %>
      <% if (page - @current_page).abs <= 1 %>
        <li class="page-item <%= page == @current_page ? 'active' : '' %>">
          <a class="page-link" href="<%= products_path(page: page) %>"><%= page %></a>
        </li>
      <% end %>
    <% end %>
    <li class="page-item <%= @current_page == @total_pages ? 'disabled' : '' %>">
      <a class="page-link" href="<%= products_path(page: @current_page + 1) %>">Next</a>
    </li>
  </ul>
</nav>



<div class="card-trip m-4">
  <div class="row row-cols-3 g-2" id="product-container">
    <% @products.each do |product| %>
      <div class="col">
        <a href="<%= product_path(product[:id]) %>">
          <div class="card">
            <div class="carousel slide" id="carousel<%= product.id %>">
              <div class="carousel-inner">
                <% product.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                    <img src="<%= photo.url %>" class="card-img">
                    <%# <i class="fa-regular fa-heart position-absolute top-0 end-0 mt-2 me-2"></i> %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carousel<%= product.id %>" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon arrow1" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel<%= product.id %>" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon arrow1" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
            <div class="card-body">
              <h2 class="card-title title-ellipsis"><%= product.name %></h2>
              <p class="card-text"><%= truncate(product.description, length: 30, omission: "...", escape: false) %></p>
              <h2 class="card-trip-pricing"><%= product.price %>€</h2>
              <% if current_user %>
              <% bookmark = Bookmark.where(product_id: product.id, user_id: current_user.id)[0] %>
                <% if bookmark.nil? %>
                  <%= form_for @bookmark do |f| %>
                    <%= f.hidden_field :product, value: product.id %>
                    <%= button_tag( :class => "astext") do %>
                      <p class="btn-pink mt-2 me-2"><i class="fa-regular fa-heart" style="font-size: 20px"></i></p>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete} do %>
                    <%= button_tag( :class => "astext") do %>
                        <p class="btn-pink mt-2 me-2"><i class="fa-solid fa-heart" style="font-size: 20px"></i></p>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end m-4" id="pagination">
    <li class="page-item <%= @current_page == 1 ? 'disabled' : '' %>">
      <a class="page-link" href="<%= products_path(page: @current_page - 1) %>">Previous</a>
    </li>
    <% (1..@total_pages).each do |page| %>
      <% if (page - @current_page).abs <= 1 %>
        <li class="page-item <%= page == @current_page ? 'active' : '' %>">
          <a class="page-link" href="<%= products_path(page: page) %>"><%= page %></a>
        </li>
      <% end %>
    <% end %>
    <li class="page-item <%= @current_page == @total_pages ? 'disabled' : '' %>">
      <a class="page-link" href="<%= products_path(page: @current_page + 1) %>">Next</a>
    </li>
  </ul>
</nav>

<%# JavaScript for carousel & pagination%>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const carouselControlButtons = document.querySelectorAll(".carousel-control-prev, .carousel-control-next");

    carouselControlButtons.forEach(button => {
      button.addEventListener("click", function(event) {
        event.stopPropagation();
      });
    });
  });
</script>
