<div class="container margin-card">
  <div class="row justify-content-center">
      <div class="col-md-5">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <% @product.photos.each_with_index do |photo, index| %>
                <% if index == 0 %>
                  <div class="carousel-item active ">
                    <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill, class: "image-big d-block mx-auto" %>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill, class: "image-big d-block mx-auto" %>
                  </div>
                <% end%>
              <% end %>
            </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon arrow" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon arrow" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-5 m-3">
        <h1><%= @product.name %></h1>
        <h2><%= @product.category %></h2>
        <p class="pink-p"><%= @product.price %> €</p>
        <%= link_to "Add to basket", new_user_registration_path, :class => "btn-pink" %>
      </div>
  </div>
</div>
