<div class="container  my-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item"><%= link_to "Products", products_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
    </ol>
  </nav>
  <div class="row justify-content-center extra-margin">
      <div class="col-md-5 m-3">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <% if @product.purchased == true %>
                  <div class="carousel-item active ">
                    <%= image_tag "Sold.jpg", :class => "image-big d-block mx-auto"%>
                  </div>
              <% else %>
                  <% @product.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                      <div class="carousel-item active ">
                        <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill, class: "image-big d-block mx-auto" %>
                      </div>
                    <% else %>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill, class: "image-big d-block mx-auto" %>
                      </div>
                    <% end%>
                  <% end %>
              <% end %>
            </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon arrow" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon arrow" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-5 m-3 ">
        <h1><%= @product.name %></h1>
          <h2><%= @product.category %></h2>
            <div class="d-flex mb-3 align-items-center">
              <% if @product.user.photo.attached? %>
                <%= cl_image_tag @product.user.photo.key, class: "rounded-circle mr-3",:gravity=>"face", :height=>40, :width=>40, :crop=>"thumb"%>
              <% else %>
                <%= image_tag "default_user_profile_pic.jpg", alt: "default image", width: 30, height: 30, class: "me-1 rounded-circle" %>
              <% end %>
              <p class="pink-p"><%= @product.user.username %></p>
            </div>
          <p><%= @product.description %></p>
        <p class="pink-p"><%= @product.price %> €</p>

        <% if @product.purchased == false %>
          <%= simple_form_for [@product, @purchase] do |f| %>
            <%= f.submit "Add to Basket", class: "btn-pink" %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
